### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [29]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [5]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

* Display the total number of players

In [6]:
len(purchase_data)

780

In [7]:
purchase_data['SN'].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

num_items = purchase_data['Item ID'].nunique()
num_items

183

In [9]:
num_items = purchase_data['Price'].mean()
num_items

3.0509871794871795

In [10]:
num_items = purchase_data['Purchase ID'].nunique()
num_items

780

In [11]:
num_items = purchase_data['Price'].sum()
num_items

2379.77

## Gender Demographics

Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed

# chart answer
Total Count	                       Percentage of Players
Male	484	                       84.03
Female	81	                       14.06
Other / Non-Disclosed	11	        1.91

In [24]:

gen_count = purchase_data['Gender'].value_counts() 
gen_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [30]:
gen_percentage = {'gender':['Male','Female','Other/Non-Disclosed'],        # Gender total is incorrect 
                  'count':[652, 113, 15]}                                
gen_percentage = pd.DataFrame(gen_percentage,columns = ['gender','count'])
gen_percentage

                gender  count
0                 Male    652
1               Female    113
2  Other/Non-Disclosed     15

In [31]:
gen_percentage = pd.DataFrame(gen_percentage,columns = ['gender','count'])

gen_percentage['percent'] = (gen_percentage['count'] / gen_percentage['count'].sum()) * 100
gen_percentage

                gender  count    percent
0                 Male    652  83.589744
1               Female    113  14.487179
2  Other/Non-Disclosed     15   1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [39]:
pur_analysis = purchase_data['Gender'].value_counts()
pur_analysis

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [30]:
pur_analysis = purchase_data['']

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.524540  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
age_bin = purchase_data['Age']
age_bin

NameError: name 'dfpurchase_data' is not defined

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_bin = {'age':'10-14', '15-19','20-24'],
           'count': '28', '136', '365','101'],
           'price': '$2.96', '$3.04', '$3.05', '$2.90'],
           'value': '$82.78'],
           'ave_total': '$3.76']}
purchase_data = pd.DataFrame(age_bin), columns = ['age','count','price','value','ave_total'])
purchase_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [44]:

top_items_df = purchase_data[["Purchase Count","Item Price","Total Purchase Value"]]

grouped_items_df = top_items_df.groupby(["Item ID", "Item Name"])
purch_count_series = grouped_items_df['Item Price'].()
purch_price_series = grouped_items_df['some col'].()
purch_sum_series = grouped_items_df['some col'].()
# create a dict of Column Names and Series
series_dict = {"Purchase Count":purch_count_series,
              "Item Price":purch_price_series,
              "Total Purchase Value":purch_sum_series}
# create dataframe from dict
top_items_df = pd.DataFrame.(seriesdict)
top_items_df.head()

KeyError: "None of [Index(['Purchase Count', 'Item Price', 'Total Purchase Value'], dtype='object')] are in the [columns]"

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80